@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700);
@import url(http://fonts.googleapis.com/css?family=Ruda:400,700,900);
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* GRILLE
---------------------------------------------------- */
/* TYPOS 
---------------------------------------------------- */
/* COULEURS
---------------------------------------------------- */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none; }

[hidden] {
  display: none; }

html {
  font-size: 100%;
  height: 100%; }

html, button, input, select, textarea {
  font-family: sans-serif;
  outline: 0; }

ol, ul {
  list-style: none; }

a:focus {
  outline: none;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }
a:hover, a:active {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

label {
  font-weight: normal; }

blockquote {
  margin: 1em 40px; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

small {
  font-size: 75%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

nav ul, nav ol {
  list-style: none;
  list-style-image: none; }

img {
  border: 0;
  height: auto;
  max-width: 100%;
  -ms-interpolation-mode: bicubic; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: none;
  margin: 0;
  padding: 0; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button:focus {
  outline: none !important; }

button::-moz-focus-inner {
  border: 0; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button, input {
  line-height: normal; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

button[disabled], input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/******************************************************
   Mixins
******************************************************/
/******************************************************
	 ELEMENTS DE STYLES RECURRENTS
******************************************************/
/* SOMMAIRE
---------------------------------------------------- */
/* Sommaire : ctrl+F les intitulés suivants pour retrouver les parties concernées */
/* GENERALITÉS
---------------------------------------------------- */
.block {
  display: block !important; }

.inline-block {
  display: inline-block !important; }

.hide {
  display: none !important; }

.overflow-y-auto {
  position: relative;
  overflow: hidden;
  overflow-y: auto; }

.overflow-hidden {
  position: relative;
  overflow: hidden; }

.clearfix {
  zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: " ";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both; }

.right {
  float: right !important; }

.left {
  float: left !important; }

img.right {
  margin: 5px 0 5px 5px; }

img.left {
  margin: 5px 5px 5px 0; }

img {
  max-width: 100%; }

.icon-country {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  width: 30px;
  height: 20px; }
  .icon-country.us {
    background-image: url("flags/us.png"); }
  .icon-country.uk {
    background-image: url("flags/uk.png"); }
  .icon-country.fr {
    background-image: url("flags/fr.png"); }
  .icon-country.br {
    background-image: url("flags/br.png"); }
  .icon-country.sp {
    background-image: url("flags/sp.png"); }

.rating {
  width: 100%; }

.ratings--wrap {
  overflow: hidden;
  position: relative;
  border-radius: 3px; }
  .ratings--wrap .ratings--category {
    color: #ffffff;
    text-transform: uppercase;
    position: absolute;
    top: 0px; }

.pagination {
  display: table;
  width: 100%; }
  .pagination .pagination--prev,
  .pagination .pagination--next {
    display: table-cell;
    vertical-align: middle;
    width: 50%; }
    .pagination .pagination--prev a,
    .pagination .pagination--next a {
      border-bottom: 0;
      color: #272727; }
    @media screen and (max-width: 767px) {
      .pagination .pagination--prev span,
      .pagination .pagination--next span {
        display: none; } }
    .pagination .pagination--prev a:hover i,
    .pagination .pagination--next a:hover i {
      background-color: #ffc625; }
    .pagination .pagination--prev a:hover span,
    .pagination .pagination--next a:hover span {
      border-bottom: 1px solid; }
  .pagination .pagination--prev i {
    margin-right: 20px; }
  .pagination .pagination--next {
    text-align: right; }
    .pagination .pagination--next i {
      margin-left: 20px; }
  .pagination i {
    background-color: #ffcd3f;
    color: #ffffff;
    display: inline-block;
    border-radius: 5px;
    padding: 10px 20px; }

/******************************************************
   TYPOGRAPHIE
******************************************************/
/* TITRES 
---------------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
  font-family: "Ruda", sans-serif; }

/******************************************************
	 BASES DE STYLES ET STYLES DE BASE
******************************************************/
/* Structure
---------------------------------------------------- */
body, html {
  min-height: 100%; }

body {
  background: #FFF;
  font-family: "Roboto Condensed", sans-serif;
  color: #4c4c4c;
  font-size: 22px;
  line-height: 1; }
  @media screen and (max-width: 767px) {
    body {
      font-size: 18px; } }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box; }
  html *, html *:before, html *:after {
    box-sizing: inherit; }

@media print {
  body {
    margin: 0;
    padding: 0; }

  footer {
    display: none; } }
a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

.wrapper {
  zoom: 1;
  width: 100%; }
  .wrapper:before, .wrapper:after {
    content: " ";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both; }
  .wrapper a {
    color: inherit;
    border-bottom: 1px solid; }
    .wrapper a:hover, .wrapper a:focus {
      border-bottom: 0; }

/* Haut de page
---------------------------------------------------- */
.back-to-top {
  display: none; }
  .back-to-top a {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 35px;
    height: 35px;
    text-indent: -9999px;
    display: block; }

/******************************************************
   Elements de formulaire
******************************************************/
.form--required {
  color: #f04f2d; }

.form--line {
  margin-bottom: 40px;
  overflow: hidden; }
  .form--line label {
    text-transform: uppercase;
    font-family: "Ruda", sans-serif;
    margin-bottom: 10px;
    display: block;
    font-size: 22px !important;
    color: #272727; }
  @media screen and (min-width: 1200px) {
    .form--line .fourth {
      float: left;
      display: block;
      margin-right: 7.4229703521%;
      width: 19.432772236%; }
      .form--line .fourth:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .form--line .fourth {
      float: left;
      display: block;
      margin-right: 7.4229703521%;
      width: 46.288514824%;
      margin-bottom: 15px; }
      .form--line .fourth:last-child {
        margin-right: 0; }
      .form--line .fourth:nth-child(2n) {
        margin-right: 0; }
      .form--line .fourth:nth-child(2n+1) {
        clear: left; } }
  @media screen and (max-width: 767px) {
    .form--line .fourth {
      float: left;
      display: block;
      margin-right: 7.4229703521%;
      width: 100%;
      margin-right: 0; }
      .form--line .fourth:last-child {
        margin-right: 0; }
      .form--line .fourth + .fourth {
        margin-top: 15px; } }

input:not([type=submit]),
textarea,
select {
  width: 100%;
  font-family: "Roboto Condensed", sans-serif;
  padding: 5px;
  border: 1px solid #c6c6c6;
  outline: 0;
  font-size: 18px;
  padding: 5px 15px 7px;
  color: #4c4c4c;
  background-color: #ffffff;
  resize: none;
  margin: 5px 0;
  box-sizing: border-box; }

textarea {
  resize: vertical;
  min-height: 150px; }

/******************************************************
   Boutons
******************************************************/
.btn, .form--submit input[type="submit"], a.btn {
  color: #ffffff;
  font-family: "Roboto Condensed", sans-serif;
  -webkit-appearance: none !important;
  border: none;
  border-radius: 5px;
  padding: 9px;
  font-size: 20px;
  cursor: pointer;
  text-transform: uppercase; }
  .btn a, .form--submit input[type="submit"] a, .btn:hover, .form--submit input[type="submit"]:hover, a.btn a, a.btn:hover {
    color: #ffffff !important;
    border-bottom: 0 !important; }
  .btn.btn--orange, .form--submit input.btn--orange[type="submit"], a.btn.btn--orange {
    background-color: #f04f2d; }
    .btn.btn--orange:hover, .form--submit input.btn--orange[type="submit"]:hover, a.btn.btn--orange:hover {
      background-color: #ee3b15; }
  .btn.btn--yellow, .form--submit input.btn--yellow[type="submit"], a.btn.btn--yellow {
    background-color: #ffcd3f; }
    .btn.btn--yellow:hover, .form--submit input.btn--yellow[type="submit"]:hover, a.btn.btn--yellow:hover {
      background-color: #ffc625; }

/******************************************************
   Entête
******************************************************/
.header--smallbar > div {
  position: relative;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
  zoom: 1; }
  .header--smallbar > div:before, .header--smallbar > div:after {
    content: " ";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both; }
  @media screen and (min-width: 1200px) {
    .header--smallbar > div {
      max-width: 1170px;
      padding-left: 15px;
      padding-right: 15px;
      box-sizing: content-box; } }
  @media screen and (max-width: 1199px) {
    .header--smallbar > div {
      padding: 0; } }

.header--smallbar li {
  float: left; }

.header--smallbar_languages {
  float: left; }
  @media screen and (min-width: 1200px) {
    .header--smallbar_languages {
      margin-left: 315px; } }

.header--smallbar_languages li {
  padding: 16px 5px; }
  @media screen and (max-width: 767px) {
    .header--smallbar_languages li {
      padding: 5px 4px 7px; } }
  .header--smallbar_languages li a {
    font-size: 0;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    transition: all 0.25s ease; }
    @media screen and (max-width: 767px) {
      .header--smallbar_languages li a {
        width: 25px;
        height: 20px; } }
  .header--smallbar_languages li a.active,
  .header--smallbar_languages li a:hover,
  .header--smallbar_languages li a:focus {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%); }

.header--smallbar_usernav {
  float: right; }

.header--smallbar_usernav li {
  font-family: "Ruda", sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  padding: 16px 30px; }
  @media screen and (max-width: 767px) {
    .header--smallbar_usernav li {
      padding: 11px 10px 7px;
      font-size: 13px; } }
  .header--smallbar_usernav li a {
    color: #f04f2d; }
    .header--smallbar_usernav li a:hover, .header--smallbar_usernav li a:focus {
      border-bottom: 1px solid; }

.header--logo {
  background-color: #ffffff;
  padding: 15px;
  z-index: 99; }
  @media screen and (min-width: 1200px) {
    .header--logo {
      position: absolute;
      top: 0;
      left: 0; } }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .header--logo {
      position: relative;
      box-sizing: content-box;
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 23.2317613015%;
      margin-right: 0; }
      .header--logo:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 767px) {
    .header--logo {
      position: absolute;
      top: 32px;
      left: 0;
      width: 100%;
      padding-top: 5px;
      text-align: center; }
      .header--logo img {
        max-height: 66px; } }

.header--mainbar {
  background-color: #f1f1f1; }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .header--mainbar {
      margin-top: -7%; } }
  @media screen and (max-width: 767px) {
    .header--mainbar {
      margin-top: 93px; } }
  .header--mainbar > div {
    position: relative;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
    zoom: 1; }
    .header--mainbar > div:before, .header--mainbar > div:after {
      content: " ";
      display: block;
      height: 0;
      overflow: hidden;
      clear: both; }
    @media screen and (min-width: 1200px) {
      .header--mainbar > div {
        max-width: 1170px;
        padding-left: 15px;
        padding-right: 15px;
        box-sizing: content-box; } }
    @media screen and (max-width: 767px) {
      .header--mainbar > div {
        padding: 0; } }

.header--mainnav > ul {
  position: relative;
  zoom: 1; }
  .header--mainnav > ul:before, .header--mainnav > ul:after {
    content: " ";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both; }
  @media screen and (min-width: 1200px) {
    .header--mainnav > ul {
      margin-left: 320px; } }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .header--mainnav > ul {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 74.4105871005%;
      margin-right: 0;
      float: right;
      padding-left: 20px; }
      .header--mainnav > ul:last-child {
        margin-right: 0; } }
.header--mainnav li {
  float: left;
  margin: 0 15px;
  text-transform: uppercase;
  font-family: "Ruda", sans-serif;
  font-weight: bold;
  position: relative; }
  .header--mainnav li:first-child {
    margin-left: 0; }
  .header--mainnav li:last-child {
    margin-right: 0; }
  @media screen and (min-width: 1200px) {
    .header--mainnav li {
      margin: 0 15px; } }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .header--mainnav li {
      margin: 0 10px; } }
  @media screen and (max-width: 767px) {
    .header--mainnav li {
      margin: 0 9px; }
      .header--mainnav li.mobile-hide {
        display: none; } }
  .header--mainnav li a {
    display: block;
    font-size: 18px;
    padding: 12px 0;
    color: #272727; }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      .header--mainnav li a {
        font-size: 17px;
        padding: 15px 0; } }
    @media screen and (max-width: 767px) {
      .header--mainnav li a {
        font-size: 12px;
        padding: 10px 0; } }
  .header--mainnav li > a:after, .header--mainnav li > a:before {
    content: " ";
    width: 0;
    height: 2px;
    display: block;
    position: absolute;
    left: 43%;
    background-color: #ffcd3f;
    -webkit-transition: width 0.25s ease, left 0.25s ease;
    -moz-transition: width 0.25s ease, left 0.25s ease;
    transition: width 0.25s ease, left 0.25s ease; }
  .header--mainnav li.active a:after, .header--mainnav li.focus a:after, .header--mainnav li:hover > a:after, .header--mainnav li.active a:before, .header--mainnav li.focus a:before, .header--mainnav li:hover > a:before {
    width: 100%;
    z-index: 9999;
    left: 0; }
  .header--mainnav li > a:after {
    bottom: -1px; }
  .header--mainnav li > a:before {
    top: -1px; }

.header--search {
  overflow-x: hidden;
  position: absolute;
  right: 0;
  top: 0; }
  @media screen and (max-width: 767px) {
    .header--search {
      display: none; } }
  .header--search .searchform {
    position: relative; }
  .header--search .search-box {
    -webkit-transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;
    transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
    background-color: transparent; }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      .header--search .search-box {
        height: 34px; } }
  .header--search .search-box + label .search-icon {
    color: #ffcd3f; }
  .header--search .search-box:hover {
    color: #ffc625; }
  .header--search .search-box:hover + label .search-icon {
    color: #ffcd3f; }
  .header--search .search-box:focus {
    -webkit-transition: width 0.6s ease, border-radius 0.6s, background 0.6s;
    transition: width 0.6s ease, border-radius 0.6s, background 0.6s;
    border: none;
    outline: none;
    box-shadow: none;
    padding-left: 15px;
    cursor: text;
    display: inline;
    font-size: 17px;
    font-family: "Roboto Condensed", sans-serif;
    border-radius: 3px;
    background-color: #f1f1f1;
    margin: 0; }
    @media screen and (min-width: 1200px) {
      .header--search .search-box:focus {
        width: 865px; } }
    @media screen and (max-width: 1199px) {
      .header--search .search-box:focus {
        width: 310px; } }
  .header--search .search-box:focus + label .search-icon {
    color: #ffcd3f; }
  .header--search .search-box:not(:focus) {
    text-indent: -5000px; }
  .header--search #search-submit {
    position: relative;
    left: -5000px;
    display: none; }
  .header--search .search-icon-label {
    position: absolute;
    right: 10px;
    top: 10px; }

/******************************************************
   Pied de page
******************************************************/
.footer {
  background: #f1f1f1;
  overflow: hidden;
  padding-top: 40px;
  padding-bottom: 30px; }
  @media screen and (max-width: 767px) {
    .footer {
      padding-bottom: 0; } }
  .footer > div {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
    zoom: 1; }
    .footer > div:before, .footer > div:after {
      content: " ";
      display: block;
      height: 0;
      overflow: hidden;
      clear: both; }
    @media screen and (min-width: 1200px) {
      .footer > div {
        max-width: 1170px;
        padding-left: 15px;
        padding-right: 15px;
        box-sizing: content-box; } }
  .footer h3 {
    text-transform: uppercase;
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
    color: #272727; }
    @media screen and (max-width: 767px) {
      .footer h3 {
        margin-bottom: 20px; } }
  .footer a {
    color: #272727; }
  @media screen and (min-width: 1200px) {
    .footer .footer--column {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 31.7615656014%; }
      .footer .footer--column:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .footer .footer--column {
      float: left;
      display: block;
      margin-right: 7.4229703521%;
      width: 46.288514824%; }
      .footer .footer--column:last-child {
        margin-right: 0; }
      .footer .footer--column:nth-child(1) {
        margin-right: 0; }
      .footer .footer--column:first-child {
        margin: 0 auto;
        float: none;
        margin-bottom: 55px; } }
  @media screen and (max-width: 767px) {
    .footer .footer--column {
      float: left;
      display: block;
      margin-right: 7.4229703521%;
      width: 100%;
      margin-bottom: 40px; }
      .footer .footer--column:last-child {
        margin-right: 0; } }
  .footer ul > li {
    list-style-type: disc;
    list-style-position: inside;
    font-size: 24px;
    margin-bottom: 5px; }
  .footer .tag {
    background-color: #f04f2d;
    font-family: "Roboto Condensed", sans-serif;
    -webkit-appearance: none !important;
    border: none;
    border-radius: 3px;
    padding: 10px 12px;
    font-size: 20px;
    cursor: pointer;
    font-size: 18px;
    text-transform: uppercase;
    display: inline-block;
    margin: 5px 2px; }
    @media screen and (max-width: 767px) {
      .footer .tag {
        font-size: 15px;
        padding: 8px 9px; } }
    .footer .tag a {
      color: #ffffff; }
    .footer .tag:hover {
      background-color: #ee3b15; }
  .footer .bestRated--item {
    list-style: none;
    display: table;
    width: 100%; }
    .footer .bestRated--item + .bestRated--item {
      margin-top: 20px; }
  .footer .bestRated--image {
    display: table-cell;
    vertical-align: top;
    padding-right: 20px;
    width: 80px; }
  .footer .bestRated--details {
    display: table-cell;
    vertical-align: top; }
  .footer .bestRated--title {
    float: left;
    color: #f04f2d;
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: 400; }
  .footer .bestRated--note {
    float: left;
    margin-top: -1px;
    padding-left: 15px;
    font-size: 19px; }
  .footer .bestRated--location {
    color: #a7a7a7;
    font-size: 14px;
    zoom: 1;
    overflow: hidden;
    width: 100%; }
    .footer .bestRated--location:before, .footer .bestRated--location:after {
      content: " ";
      display: block;
      height: 0;
      overflow: hidden;
      clear: both; }

/******************************************************
   Page d'accueil
******************************************************/
.page--home > div {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
  zoom: 1; }
  .page--home > div:before, .page--home > div:after {
    content: " ";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both; }
  @media screen and (min-width: 1200px) {
    .page--home > div {
      max-width: 1170px;
      padding-left: 15px;
      padding-right: 15px;
      box-sizing: content-box; } }
  @media screen and (min-width: 1200px) {
    .page--home > div {
      padding-top: 60px;
      padding-bottom: 60px; } }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .page--home > div {
      padding-top: 60px;
      padding-bottom: 60px; } }
  @media screen and (max-width: 767px) {
    .page--home > div {
      padding-top: 30px;
      padding-bottom: 30px; } }
@media screen and (min-width: 768px) {
  .page--home .page--content {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 74.4105871005%;
    margin-right: 0; }
    .page--home .page--content:last-child {
      margin-right: 0; } }
@media screen and (min-width: 768px) {
  .page--home .page--sidebar {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 23.2317613015%;
    float: left; }
    .page--home .page--sidebar:last-child {
      margin-right: 0; } }
@media screen and (min-width: 1200px) {
  .page--home .page--sidebar_widget {
    margin-bottom: 70px; } }
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page--home .page--sidebar_widget {
    margin-bottom: 60px; } }
@media screen and (max-width: 767px) {
  .page--home .page--sidebar_widget {
    margin-bottom: 20px;
    float: left;
    display: block;
    margin-right: 7.4229703521%;
    width: 46.288514824%; }
    .page--home .page--sidebar_widget:last-child {
      margin-right: 0; }
    .page--home .page--sidebar_widget:nth-child(2n) {
      margin-right: 0; }
    .page--home .page--sidebar_widget:nth-child(2n+1) {
      clear: left; } }
.page--home .page--sidebar_widget h3 {
  color: #ffcd3f;
  font-size: 27px;
  text-transform: uppercase;
  margin-bottom: 20px; }
  @media screen and (max-width: 767px) {
    .page--home .page--sidebar_widget h3 {
      font-size: 21px;
      margin-bottom: 10px; } }
.page--home .page--sidebar_widget ul li {
  margin-bottom: 15px;
  font-size: 20px; }
  @media screen and (max-width: 1199px) {
    .page--home .page--sidebar_widget ul li {
      margin-bottom: 10px;
      font-size: 17px; } }
  .page--home .page--sidebar_widget ul li a {
    border-bottom: 0;
    color: #272727; }
    .page--home .page--sidebar_widget ul li a:hover {
      border-bottom: 1px solid; }
.page--home .block {
  zoom: 1; }
  .page--home .block:before, .page--home .block:after {
    content: " ";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both; }
  @media screen and (min-width: 1200px) {
    .page--home .block .block--item {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 31.7615656014%; }
      .page--home .block .block--item:last-child {
        margin-right: 0; }
      .page--home .block .block--item:nth-child(3n) {
        margin-right: 0; }
      .page--home .block .block--item:nth-child(3n+1) {
        clear: left; } }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .page--home .block .block--item {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 48.821174201%; }
      .page--home .block .block--item:last-child {
        margin-right: 0; }
      .page--home .block .block--item:nth-child(2n) {
        margin-right: 0; }
      .page--home .block .block--item:nth-child(2n+1) {
        clear: left; } }
  .page--home .block .block--image {
    position: relative;
    margin-bottom: 10px; }
    .page--home .block .block--image img {
      display: block; }
  .page--home .block .block--rating {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #ffcd3f;
    color: #ffffff;
    padding: 5px;
    font-size: 17px; }
  .page--home .block .block--info {
    display: table;
    width: 100%; }
  .page--home .block .block--title,
  .page--home .block .block--country {
    display: table-cell;
    vertical-align: top; }
  .page--home .block .block--title {
    font-size: 18px;
    color: #f04f2d;
    margin-bottom: 4px;
    float: left;
    border-bottom: 1px solid #ffffff; }
    .page--home .block .block--title:hover {
      border-bottom-color: #f04f2d; }
  .page--home .block .block--country {
    float: right; }
  .page--home .block .block--location {
    color: #a7a7a7;
    font-size: 15px;
    margin-bottom: 20px; }

/******************************************************
   Page de restaurant
******************************************************/
.page--single .page--header {
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 564px;
  position: relative; }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .page--single .page--header {
      min-height: 360px; } }
  @media screen and (max-width: 767px) {
    .page--single .page--header {
      min-height: 240px; } }
  .page--single .page--header .header--title-card {
    background-color: #ffffff;
    color: #a7a7a7; }
    @media screen and (min-width: 1200px) {
      .page--single .page--header .header--title-card {
        position: absolute;
        bottom: 20px;
        padding: 20px 20px 20px 120px;
        font-size: 26px; } }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      .page--single .page--header .header--title-card {
        padding: 20px;
        font-size: 22px; } }
    @media screen and (max-width: 767px) {
      .page--single .page--header .header--title-card {
        position: absolute;
        bottom: 10px;
        padding: 17px;
        font-size: 18px;
        width: 100%; } }
  .page--single .page--header h1 {
    color: #f04f2d;
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 55px; }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      .page--single .page--header h1 {
        font-size: 50px; } }
    @media screen and (max-width: 767px) {
      .page--single .page--header h1 {
        font-size: 26px; } }
.page--single .page--body {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
  zoom: 1; }
  .page--single .page--body:before, .page--single .page--body:after {
    content: " ";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both; }
  @media screen and (min-width: 1200px) {
    .page--single .page--body {
      max-width: 1170px;
      padding-left: 15px;
      padding-right: 15px;
      box-sizing: content-box; } }
@media screen and (min-width: 1200px) {
  .page--single .page--sidebar {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 31.7615656014%;
    margin-right: 0;
    float: right;
    margin-top: -140px;
    position: relative; }
    .page--single .page--sidebar:last-child {
      margin-right: 0; } }
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page--single .page--sidebar {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 23.2317613015%;
    margin-right: 0;
    float: right;
    margin-top: 25px;
    position: relative; }
    .page--single .page--sidebar:last-child {
      margin-right: 0; } }
@media screen and (max-width: 767px) {
  .page--single .page--sidebar {
    margin-bottom: 50px; } }
.page--single .page--sidebar > aside {
  margin-bottom: 70px; }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .page--single .page--sidebar > aside {
      margin-bottom: 40px; } }
  @media screen and (max-width: 767px) {
    .page--single .page--sidebar > aside {
      margin-bottom: 50px; } }
.page--single .page--sidebar h3 {
  color: #272727;
  text-transform: uppercase;
  font-size: 32px;
  margin-bottom: 25px; }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .page--single .page--sidebar h3 {
      font-size: 19px;
      line-height: 22px;
      margin-bottom: 15px;
      overflow: hidden; } }
  @media screen and (max-width: 767px) {
    .page--single .page--sidebar h3 {
      font-size: 23px;
      line-height: 25px;
      margin-bottom: 20px; } }
.page--single .page--sidebar .venue--map {
  width: 100%;
  height: 35vh; }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .page--single .page--sidebar .venue--map {
      height: 20vw; } }
  @media screen and (max-width: 767px) {
    .page--single .page--sidebar .venue--map {
      height: 60vw; } }
.page--single .page--sidebar .venue--details {
  padding: 25px;
  background-color: #f1f1f1;
  display: table;
  width: 100%;
  box-sizing: border-box; }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .page--single .page--sidebar .venue--details {
      padding: 15px;
      font-size: 18px; } }
  @media screen and (max-width: 767px) {
    .page--single .page--sidebar .venue--details {
      padding: 15px;
      font-size: 18px; } }
  .page--single .page--sidebar .venue--details .venue--icon, .page--single .page--sidebar .venue--details .venue--address {
    display: table-cell;
    vertical-align: top; }
  .page--single .page--sidebar .venue--details .venue--icon {
    width: 1px;
    padding-right: 15px; }
.page--single .page--sidebar .venue--ratings .ratings--table {
  display: table;
  width: 100%; }
.page--single .page--sidebar .venue--ratings .ratings--note,
.page--single .page--sidebar .venue--ratings .ratings--container {
  display: table-cell;
  vertical-align: top; }
.page--single .page--sidebar .venue--ratings .ratings--note {
  width: 1px; }
  .page--single .page--sidebar .venue--ratings .ratings--note span {
    padding: 10px 22px;
    color: #ffffff;
    border-radius: 3px;
    background-color: #272727;
    font-family: "Ruda", sans-serif;
    font-size: 58px;
    font-weight: 700;
    display: block; }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      .page--single .page--sidebar .venue--ratings .ratings--note span {
        float: left;
        font-size: 30px;
        padding: 6px 12px;
        margin-right: 10px;
        line-height: 29px; } }
    @media screen and (max-width: 767px) {
      .page--single .page--sidebar .venue--ratings .ratings--note span {
        font-size: 46px;
        padding: 10px 20px; } }
  .page--single .page--sidebar .venue--ratings .ratings--note.desktop {
    display: none; }
    @media screen and (min-width: 1200px) {
      .page--single .page--sidebar .venue--ratings .ratings--note.desktop {
        display: table-cell; } }
    @media screen and (max-width: 767px) {
      .page--single .page--sidebar .venue--ratings .ratings--note.desktop {
        display: table-cell; } }
  .page--single .page--sidebar .venue--ratings .ratings--note.mobile {
    display: none; }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      .page--single .page--sidebar .venue--ratings .ratings--note.mobile {
        display: block; } }
.page--single .page--sidebar .venue--ratings .ratings--container {
  padding-left: 20px; }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .page--single .page--sidebar .venue--ratings .ratings--container {
      padding-left: 0; } }
  @media screen and (max-width: 767px) {
    .page--single .page--sidebar .venue--ratings .ratings--container {
      padding-left: 15px; } }
.page--single .page--sidebar .venue--ratings .rating {
  height: 30px; }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .page--single .page--sidebar .venue--ratings .rating {
      height: 15px; } }
  @media screen and (max-width: 767px) {
    .page--single .page--sidebar .venue--ratings .rating {
      height: 25px; } }
.page--single .page--sidebar .venue--ratings .ratings--wrap {
  background-color: #ffcd3f; }
  .page--single .page--sidebar .venue--ratings .ratings--wrap + .ratings--wrap {
    margin-top: 8px; }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      .page--single .page--sidebar .venue--ratings .ratings--wrap + .ratings--wrap {
        margin-top: 4px; } }
.page--single .page--sidebar .venue--ratings .ratings--bar {
  background-color: #f1f1f1; }
.page--single .page--sidebar .venue--ratings .ratings--category {
  font-size: 20px;
  line-height: 30px;
  padding-left: 10px; }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .page--single .page--sidebar .venue--ratings .ratings--category {
      font-size: 12px;
      line-height: 15px;
      padding-left: 5px; } }
  @media screen and (max-width: 767px) {
    .page--single .page--sidebar .venue--ratings .ratings--category {
      font-size: 15px;
      line-height: 25px;
      padding-left: 10px; } }
.page--single .page--sidebar .venue--photos {
  margin-bottom: 50px; }
  .page--single .page--sidebar .venue--photos ul {
    zoom: 1; }
    .page--single .page--sidebar .venue--photos ul:before, .page--single .page--sidebar .venue--photos ul:after {
      content: " ";
      display: block;
      height: 0;
      overflow: hidden;
      clear: both; }
  .page--single .page--sidebar .venue--photos li {
    text-align: center; }
    .page--single .page--sidebar .venue--photos li a {
      border-bottom: 0; }
    @media screen and (min-width: 1200px) {
      .page--single .page--sidebar .venue--photos li {
        float: left;
        display: block;
        margin-right: 7.4229703521%;
        width: 19.432772236%;
        margin-bottom: 20px; }
        .page--single .page--sidebar .venue--photos li:last-child {
          margin-right: 0; }
        .page--single .page--sidebar .venue--photos li:nth-child(4n) {
          margin-right: 0; }
        .page--single .page--sidebar .venue--photos li:nth-child(4n+1) {
          clear: left; } }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      .page--single .page--sidebar .venue--photos li {
        float: left;
        width: 50%; } }
    @media screen and (max-width: 767px) {
      .page--single .page--sidebar .venue--photos li {
        float: left;
        display: block;
        margin-right: 7.4229703521%;
        width: 19.432772236%;
        margin-bottom: 20px; }
        .page--single .page--sidebar .venue--photos li:last-child {
          margin-right: 0; }
        .page--single .page--sidebar .venue--photos li:nth-child(4n) {
          margin-right: 0; }
        .page--single .page--sidebar .venue--photos li:nth-child(4n+1) {
          clear: left; } }
.page--single .page--sidebar .venue--share ul {
  zoom: 1; }
  .page--single .page--sidebar .venue--share ul:before, .page--single .page--sidebar .venue--share ul:after {
    content: " ";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both; }
@media screen and (min-width: 1200px) {
  .page--single .page--sidebar .venue--share li {
    float: left;
    display: block;
    margin-right: 10.1483979942%;
    width: 26.5677346705%; }
    .page--single .page--sidebar .venue--share li:last-child {
      margin-right: 0; } }
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page--single .page--sidebar .venue--share li {
    float: left;
    display: block;
    margin-right: 16.0363113405%;
    width: 41.9818443298%;
    margin-bottom: 20px; }
    .page--single .page--sidebar .venue--share li:last-child {
      margin-right: 0; }
    .page--single .page--sidebar .venue--share li:nth-child(2n) {
      margin-right: 0; }
    .page--single .page--sidebar .venue--share li:nth-child(2n+1) {
      clear: left; } }
@media screen and (max-width: 767px) {
  .page--single .page--sidebar .venue--share li {
    float: left;
    display: block;
    margin-right: 10.1483979942%;
    width: 26.5677346705%; }
    .page--single .page--sidebar .venue--share li:last-child {
      margin-right: 0; } }
@media screen and (min-width: 768px) {
  .page--single .page--content {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 74.4105871005%; }
    .page--single .page--content:last-child {
      margin-right: 0; } }
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page--single .page--content {
    margin-top: -25px; } }
@media screen and (max-width: 767px) {
  .page--single .page--content {
    margin-top: -5px; } }
.page--single .page--content h2 {
  color: #ffcd3f;
  text-transform: uppercase;
  font-size: 38px;
  margin-bottom: 25px;
  margin-top: 50px; }
  @media screen and (max-width: 767px) {
    .page--single .page--content h2 {
      font-size: 25px;
      margin-top: 30px;
      margin-bottom: 15px; } }
.page--single .page--content p {
  line-height: 27px; }
  @media screen and (max-width: 767px) {
    .page--single .page--content p {
      line-height: 22px; } }
.page--single .review {
  border: 1px solid #c6c6c6;
  background-color: #f1f1f1;
  padding: 25px 15px;
  font-size: 18px; }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .page--single .review {
      padding-bottom: 10px; } }
  @media screen and (max-width: 767px) {
    .page--single .review {
      font-size: 16px; } }
  .page--single .review + .review {
    margin-top: 35px; }
  .page--single .review header {
    margin-bottom: 10px;
    font-family: "Ruda", sans-serif;
    color: #272727; }
  .page--single .review .review--author {
    font-size: 20px;
    font-weight: 900; }
    @media screen and (max-width: 767px) {
      .page--single .review .review--author {
        font-size: 16px; } }
  .page--single .review .review--date {
    font-size: 13px;
    padding-left: 10px; }
  .page--single .review .review--body {
    margin-bottom: 35px; }
    @media screen and (max-width: 767px) {
      .page--single .review .review--body {
        margin-bottom: 20px; } }
    .page--single .review .review--body p {
      line-height: 21px; }
    .page--single .review .review--body p + p {
      margin-bottom: 20px; }
  .page--single .review .review--ratings {
    overflow: hidden; }
    @media screen and (min-width: 1200px) {
      .page--single .review .review--ratings > div {
        float: left;
        display: block;
        margin-right: 7.4229703521%;
        width: 19.432772236%; }
        .page--single .review .review--ratings > div:last-child {
          margin-right: 0; } }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      .page--single .review .review--ratings > div {
        float: left;
        display: block;
        margin-right: 7.4229703521%;
        width: 46.288514824%;
        margin-bottom: 15px; }
        .page--single .review .review--ratings > div:last-child {
          margin-right: 0; }
        .page--single .review .review--ratings > div:nth-child(2n) {
          margin-right: 0; }
        .page--single .review .review--ratings > div:nth-child(2n+1) {
          clear: left; } }
    @media screen and (max-width: 767px) {
      .page--single .review .review--ratings > div {
        float: left;
        display: block;
        margin-right: 7.4229703521%;
        width: 100%;
        margin-right: 0; }
        .page--single .review .review--ratings > div:last-child {
          margin-right: 0; }
        .page--single .review .review--ratings > div + div {
          margin-top: 10px; } }
    .page--single .review .review--ratings .rating {
      height: 20px; }
    .page--single .review .review--ratings .ratings--wrap {
      background-color: #f04f2d; }
    .page--single .review .review--ratings .ratings--bar {
      background-color: #c0c0c0; }
    .page--single .review .review--ratings .ratings--category {
      font-size: 13px;
      line-height: 20px;
      padding-left: 8px; }
