@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700);
@import url(http://fonts.googleapis.com/css?family=Ruda:400,700,900);
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* GRILLE
---------------------------------------------------- */
/* TYPOS 
---------------------------------------------------- */
/* COULEURS
---------------------------------------------------- */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none; }

[hidden] {
  display: none; }

html {
  font-size: 100%;
  height: 100%; }

html, button, input, select, textarea {
  font-family: sans-serif;
  outline: 0; }

ol, ul {
  list-style: none; }

a:focus {
  outline: none;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }
a:hover, a:active {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

label {
  font-weight: normal; }

blockquote {
  margin: 1em 40px; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

small {
  font-size: 75%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

nav ul, nav ol {
  list-style: none;
  list-style-image: none; }

img {
  border: 0;
  height: auto;
  max-width: 100%;
  -ms-interpolation-mode: bicubic; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: none;
  margin: 0;
  padding: 0; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button:focus {
  outline: none !important; }

button::-moz-focus-inner {
  border: 0; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button, input {
  line-height: normal; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

button[disabled], input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/******************************************************
   Mixins
******************************************************/
/******************************************************
	 ELEMENTS DE STYLES RECURRENTS
******************************************************/
/* SOMMAIRE
---------------------------------------------------- */
/* Sommaire : ctrl+F les intitulés suivants pour retrouver les parties concernées */
/* GENERALITÉS
---------------------------------------------------- */
.block {
  display: block !important; }

.inline-block {
  display: inline-block !important; }

.hide {
  display: none !important; }

.overflow-y-auto {
  position: relative;
  overflow: hidden;
  overflow-y: auto; }

.overflow-hidden {
  position: relative;
  overflow: hidden; }

.clearfix {
  zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: " ";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both; }

.right {
  float: right !important; }

.left {
  float: left !important; }

img.right {
  margin: 5px 0 5px 5px; }

img.left {
  margin: 5px 5px 5px 0; }

img {
  max-width: 100%; }

.icon-country {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  width: 30px;
  height: 20px; }
  .icon-country.us {
    background-image: url("flags/us.png"); }
  .icon-country.uk {
    background-image: url("flags/uk.png"); }
  .icon-country.fr {
    background-image: url("flags/fr.png"); }
  .icon-country.br {
    background-image: url("flags/br.png"); }
  .icon-country.sp {
    background-image: url("flags/sp.png"); }

/******************************************************
   TYPOGRAPHIE
******************************************************/
/* TITRES 
---------------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
  font-family: "Ruda", sans-serif; }

/******************************************************
	 BASES DE STYLES ET STYLES DE BASE
******************************************************/
/* Structure
---------------------------------------------------- */
body, html {
  min-height: 100%; }

body {
  background: #FFF;
  font-family: "Roboto Condensed", sans-serif;
  color: #4c4c4c;
  font-size: 22px;
  line-height: 1; }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box; }
  html *, html *:before, html *:after {
    box-sizing: inherit; }

@media print {
  body {
    margin: 0;
    padding: 0; }

  footer {
    display: none; } }
a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

.wrapper {
  zoom: 1;
  width: 100%; }
  .wrapper:before, .wrapper:after {
    content: " ";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both; }
  .wrapper a {
    color: inherit;
    border-bottom: 1px solid; }
    .wrapper a:hover, .wrapper a:focus {
      border-bottom: 0; }

/* Haut de page
---------------------------------------------------- */
.back-to-top {
  display: none; }
  .back-to-top a {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 35px;
    height: 35px;
    text-indent: -9999px;
    display: block; }

/******************************************************
   Entête
******************************************************/
.header--smallbar > div {
  position: relative;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
  zoom: 1; }
  .header--smallbar > div:before, .header--smallbar > div:after {
    content: " ";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both; }
  @media screen and (min-width: 1200px) {
    .header--smallbar > div {
      max-width: 1170px;
      padding-left: 15px;
      padding-right: 15px;
      box-sizing: content-box; } }
  @media screen and (max-width: 1199px) {
    .header--smallbar > div {
      padding: 0; } }

.header--smallbar li {
  float: left; }

.header--smallbar_languages {
  float: left; }
  @media screen and (min-width: 1200px) {
    .header--smallbar_languages {
      margin-left: 315px; } }

.header--smallbar_languages li {
  padding: 16px 5px; }
  .header--smallbar_languages li a {
    font-size: 0;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    transition: all 0.25s ease; }
  .header--smallbar_languages li a.active,
  .header--smallbar_languages li a:hover,
  .header--smallbar_languages li a:focus {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%); }

.header--smallbar_usernav {
  float: right; }

.header--smallbar_usernav li {
  font-family: "Ruda", sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  padding: 16px 30px; }
  @media screen and (max-width: 767px) {
    .header--smallbar_usernav li {
      padding: 9px 10px 7px;
      font-size: 13px; } }
  .header--smallbar_usernav li a {
    color: #f04f2d; }
    .header--smallbar_usernav li a:hover, .header--smallbar_usernav li a:focus {
      border-bottom: 1px solid; }

.header--logo {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #FFF;
  padding: 15px; }

.header--mainbar {
  background-color: #f1f1f1; }
  .header--mainbar > div {
    position: relative;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
    zoom: 1; }
    .header--mainbar > div:before, .header--mainbar > div:after {
      content: " ";
      display: block;
      height: 0;
      overflow: hidden;
      clear: both; }
    @media screen and (min-width: 1200px) {
      .header--mainbar > div {
        max-width: 1170px;
        padding-left: 15px;
        padding-right: 15px;
        box-sizing: content-box; } }
    @media screen and (max-width: 767px) {
      .header--mainbar > div {
        padding: 0; } }

.header--mainnav > ul {
  position: relative;
  zoom: 1; }
  .header--mainnav > ul:before, .header--mainnav > ul:after {
    content: " ";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both; }
  @media screen and (min-width: 1200px) {
    .header--mainnav > ul {
      margin-left: 320px; } }
.header--mainnav li {
  float: left;
  margin: 0 15px;
  text-transform: uppercase;
  font-family: "Ruda", sans-serif;
  font-weight: bold;
  position: relative; }
  .header--mainnav li:first-child {
    margin-left: 0; }
  .header--mainnav li:last-child {
    margin-right: 0; }
  @media screen and (min-width: 1200px) {
    .header--mainnav li {
      margin: 0 15px; } }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .header--mainnav li {
      margin: 0 10px; } }
  .header--mainnav li a {
    display: block;
    font-size: 18px;
    padding: 12px 0;
    color: #272727; }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      .header--mainnav li a {
        font-size: 17px;
        padding: 15px 0; } }
  .header--mainnav li > a:after, .header--mainnav li > a:before {
    content: " ";
    width: 0;
    height: 2px;
    display: block;
    position: absolute;
    left: 43%;
    background-color: #ffcd3f;
    -webkit-transition: width 0.25s ease, left 0.25s ease;
    -moz-transition: width 0.25s ease, left 0.25s ease;
    transition: width 0.25s ease, left 0.25s ease; }
  .header--mainnav li.active a:after, .header--mainnav li.focus a:after, .header--mainnav li:hover > a:after, .header--mainnav li.active a:before, .header--mainnav li.focus a:before, .header--mainnav li:hover > a:before {
    width: 100%;
    z-index: 9999;
    left: 0; }
  .header--mainnav li > a:after {
    bottom: -1px; }
  .header--mainnav li > a:before {
    top: -1px; }

.header--search {
  overflow-x: hidden;
  position: absolute;
  right: 0;
  top: 0; }
  .header--search .searchform {
    position: relative; }
  .header--search .search-box {
    -webkit-transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;
    transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
    background-color: transparent; }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      .header--search .search-box {
        height: 34px; } }
  .header--search .search-box + label .search-icon {
    color: #ffcd3f; }
  .header--search .search-box:hover {
    color: #ffc625; }
  .header--search .search-box:hover + label .search-icon {
    color: #ffcd3f; }
  .header--search .search-box:focus {
    -webkit-transition: width 0.6s ease, border-radius 0.6s, background 0.6s;
    transition: width 0.6s ease, border-radius 0.6s, background 0.6s;
    border: none;
    outline: none;
    box-shadow: none;
    padding-left: 15px;
    cursor: text;
    display: inline;
    font-size: 17px;
    font-family: "Roboto Condensed", sans-serif;
    border-radius: 3px;
    background-color: #f1f1f1; }
    @media screen and (min-width: 1200px) {
      .header--search .search-box:focus {
        width: 865px; } }
    @media screen and (max-width: 1199px) {
      .header--search .search-box:focus {
        width: 310px; } }
  .header--search .search-box:focus + label .search-icon {
    color: #ffcd3f; }
  .header--search .search-box:not(:focus) {
    text-indent: -5000px; }
  .header--search #search-submit {
    position: relative;
    left: -5000px;
    display: none; }
  .header--search .search-icon-label {
    position: absolute;
    right: 10px;
    top: 10px; }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      .header--search .search-icon-label {
        top: 6px; } }
    @media screen and (max-width: 767px) {
      .header--search .search-icon-label {
        top: 8px; } }

/******************************************************
   Pied de page
******************************************************/
.footer {
  background: #f1f1f1;
  overflow: hidden;
  padding-top: 40px;
  padding-bottom: 30px; }
  .footer > div {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
    zoom: 1; }
    .footer > div:before, .footer > div:after {
      content: " ";
      display: block;
      height: 0;
      overflow: hidden;
      clear: both; }
    @media screen and (min-width: 1200px) {
      .footer > div {
        max-width: 1170px;
        padding-left: 15px;
        padding-right: 15px;
        box-sizing: content-box; } }
  .footer h3 {
    text-transform: uppercase;
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
    color: #272727; }
    @media screen and (max-width: 767px) {
      .footer h3 {
        margin-bottom: 20px; } }
  .footer a {
    color: #272727; }
  @media screen and (min-width: 1200px) {
    .footer .footer--column {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 31.7615656014%; }
      .footer .footer--column:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .footer .footer--column {
      float: left;
      display: block;
      margin-right: 7.4229703521%;
      width: 46.288514824%; }
      .footer .footer--column:last-child {
        margin-right: 0; }
      .footer .footer--column:nth-child(1) {
        margin-right: 0; }
      .footer .footer--column:first-child {
        width: 100%; } }
  @media screen and (max-width: 767px) {
    .footer .footer--column {
      float: left;
      display: block;
      margin-right: 7.4229703521%;
      width: 100%;
      margin-bottom: 40px; }
      .footer .footer--column:last-child {
        margin-right: 0; } }
  .footer ul > li {
    list-style-type: disc;
    list-style-position: inside;
    font-size: 24px;
    margin-bottom: 5px; }
  .footer .tag {
    background-color: #f04f2d;
    font-family: "Roboto Condensed", sans-serif;
    -webkit-appearance: none !important;
    border: none;
    border-radius: 3px;
    padding: 10px 12px;
    font-size: 20px;
    cursor: pointer;
    font-size: 18px;
    text-transform: uppercase;
    display: inline-block;
    margin: 5px 2px; }
    @media screen and (max-width: 767px) {
      .footer .tag {
        font-size: 15px;
        padding: 8px 9px; } }
    .footer .tag a {
      color: #ffffff; }
    .footer .tag:hover {
      background-color: #ee3b15; }
  .footer .bestRated--item {
    list-style: none;
    display: table;
    width: 100%; }
    .footer .bestRated--item + .bestRated--item {
      margin-top: 20px; }
  .footer .bestRated--image {
    display: table-cell;
    vertical-align: top;
    padding-right: 20px;
    width: 80px; }
  .footer .bestRated--details {
    display: table-cell;
    vertical-align: top; }
  .footer .bestRated--title {
    float: left;
    color: #f04f2d;
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: 400; }
  .footer .bestRated--note {
    float: left;
    margin-top: -1px;
    padding-left: 15px;
    font-size: 19px; }
  .footer .bestRated--location {
    color: #A0A0A0;
    font-size: 14px;
    zoom: 1;
    overflow: hidden;
    width: 100%; }
    .footer .bestRated--location:before, .footer .bestRated--location:after {
      content: " ";
      display: block;
      height: 0;
      overflow: hidden;
      clear: both; }
