/******************************************************
	 ELEMENTS DE STYLES RECURRENTS
******************************************************/

/* SOMMAIRE
---------------------------------------------------- */
/* Sommaire : ctrl+F les intitulés suivants pour retrouver les parties concernées */

// GENERALITÉS
// HELPERS RESPONSIVE


/* GENERALITÉS
---------------------------------------------------- */

// DISPLAY & OVERFLOW
.block { display: block !important; }
.inline-block { display: inline-block !important; }
.hide { display:none !important; }
.overflow-y-auto { position: relative; overflow: hidden; overflow-y: auto; }
.overflow-hidden { position: relative; overflow: hidden; }
.clearfix {@include clearfix;}

// FLOTTEMENT
.right { float: right !important; }
.left { float: left !important; }

// IMAGES
img.right { margin:5px 0 5px 5px; }
img.left { margin: 5px 5px 5px 0; }
img {max-width:100%}

//FLAGS
.icon-country {
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center center;
	display:block;
	width:30px;
	height:20px;
	&.us {background-image:url('flags/us.png')}
	&.uk {background-image:url('flags/uk.png')}
	&.fr {background-image:url('flags/fr.png')}
	&.br {background-image:url('flags/br.png')}
	&.sp {background-image:url('flags/sp.png')}
}

// PROGRESSBARS
.rating {
	width:100%;
}
.ratings--wrap {
	overflow:hidden;
	position:relative;
	border-radius: 3px;
	.ratings--category {
		color:$clrWhite;
		text-transform:uppercase;
		position: absolute;
  		top: 0px;
	}
}


// PAGINATION 
.pagination {
	display:table;
	width:100%;
	.pagination--prev,
	.pagination--next {
		display:table-cell;
		vertical-align:middle;
		width:50%;
		a {	
			border-bottom:0;
			color:$clrHeadersGrey;
		}	
		a:hover {
			i {
				background-color:$clrYellowActive;
			}
			span {
				border-bottom:1px solid;
			}
		}
		
	}
	.pagination--prev {
		i {margin-right:20px;}
	}
	.pagination--next {
		text-align:right;
		i {margin-left:20px;}
	}
	i {
		background-color:$clrYellow;
		color:$clrWhite;
		display:inline-block;
		border-radius:5px;
		padding:10px 20px;

	}
}