/******************************************************
	 ELEMENTS DE STYLES RECURRENTS
******************************************************/

/* SOMMAIRE
---------------------------------------------------- */
/* Sommaire : ctrl+F les intitulés suivants pour retrouver les parties concernées */

// GENERALITÉS
// HELPERS RESPONSIVE


/* GENERALITÉS
---------------------------------------------------- */

// DISPLAY & OVERFLOW
.block { display: block !important; }
.inline-block { display: inline-block !important; }
.hide { display:none !important; }
.overflow-y-auto { position: relative; overflow: hidden; overflow-y: auto; }
.overflow-hidden { position: relative; overflow: hidden; }
.clearfix {@include clearfix;}

// FLOTTEMENT
.right { float: right !important; }
.left { float: left !important; }

// IMAGES
img.right { margin:5px 0 5px 5px; }
img.left { margin: 5px 5px 5px 0; }
img {max-width:100%}

//FLAGS
.icon-country {
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center center;
	display:block;
	width:30px;
	height:20px;
	&.us {background-image:url('flags/us.png')}
	&.uk {background-image:url('flags/uk.png')}
	&.fr {background-image:url('flags/fr.png')}
	&.br {background-image:url('flags/br.png')}
	&.sp {background-image:url('flags/sp.png')}
}