/* GRILLE
---------------------------------------------------- */

$max-width: 100%;

$desktop:  new-breakpoint(min-width 1200px);
$tablet-h: new-breakpoint(min-width 1024px);
$tablet-v: new-breakpoint(min-width 680px);